slurms/*
cub*/*
*.tar.gz
lightning_logs/*
*.pth
*.ply
*.dump
*.mp4
*.swp
*.png
**/__pycache__/*
**/build/*
slurm_logs/*
wandb/*
**/*.out
**/*.err
**/*.ckpt
eval/output/*
eval/figures/*
scripts/**/*.out
**core**
eval/eval_models/expansion/weights/*
**/*.ply
datasets/*
demo_output/*